# deps
node_modules/
**/node_modules/
.pnpm/
**/.pnpm/
.pnpm-store/

# next/build
.next/
dist/
build/
out/

# env/secrets
.env
.env.*
!.env.example

# logs
*.log

# pnpm workspace state (generert)
pnpm-workspace-state-v1.json